<!DOCTYPE html>
<html>

<head>

<title>Attack Dashboard</title>

<style>

body{

font-family:Arial;

background:#111;

color:white;

text-align:center;

}

table{

margin:auto;

border-collapse:collapse;

}

td,th{

border:1px solid white;

padding:10px;

}

</style>

</head>

<body>

<h1>⚠ SQL Injection Monitoring Dashboard</h1>

<h2>Total Attacks Detected: {{count}}</h2>

<h3>Blocked IPs</h3>

{% for b in blocked %}
<p style="color:red">{{ b }}</p>
{% endfor %}

<table>

<tr>
<th>Detected Queries</th>
</tr>

{% for a in attacks %}

<tr>
<td>{{a}}</td>
</tr>

{% endfor %}

</table>

</body>

</html>